anubis/logs/
anubis/anubis.bdb
crowdsec/database/
crowdsec/config/local_api_credentials.yaml
crowdsec/config/online_api_credentials.yaml
crowdsec/config/notifications/discord.yaml
manager/
traefik/logs/
traefik/ssl/
.env