# Global Environment Variables
TZ=America_Sao_Paulo # Set your timezone (e.g., "America/New_York", "Europe/London", etc.)
PUID=1000
PGID=1000

# Traefik Environment Variables
CF_DNS_API_TOKEN="" # You can generate a new API token in the Cloudflare Dashboard with permissions to manage DNS records for your domain

# Traefk Manager Environment Variables
COOKIE_SECURE=false
RESTART_METHOD=socket
TRAEFIK_CONTAINER="traefik"
STATIC_CONFIG_PATH="/app/traefik.yml"
ACME_JSON_PATH="/app/acme.json"
ACCESS_LOG_PATH="/app/logs/access.log"

# Crowdsec Environment Variables
GID=1000
COLLECTIONS="crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/whitelist-good-actors crowdsecurity/linux"
CUSTOM_HOSTNAME="HomeCrowdsec" # You can set this to a custom hostname for your Crowdsec instance, or leave it as is.

# Crowdsec Bouncer Environment Variables
CROWDSEC_BOUNCER_API_KEY= # You can generate a new API key in the Crowdsec Console
CAPTCHA_SITE_KEY="" # You can obtain a site key from your CAPTCHA provider (e.g., Google reCAPTCHA)
CAPTCHA_SECRET_KEY="" # You can obtain a secret key from your CAPTCHA provider (e.g., Google reCAPTCHA)

# Anubis Environment Variables
BIND=":8923"
DIFFICULTY="4"
SERVE_ROBOTS_TXT="true"
TARGET=" "
POLICY_FNAME="/data/cfg/botPolicy.yaml"
REDIRECT_DOMAINS="*.domain.name" # Replace with your actual domain
PUBLIC_URL="https://anubis.domain.name" # Replace with your actual domain
COOKIE_DOMAIN="domain.name" # Replace with your actual domain
JWT_RESTRICTION_HEADER="CF-Connecting-IP"
USE_REMOTE_ADDRESS="true"
ED25519_PRIVATE_KEY_HEX="" # You can generate a new key using `openssl rand -hex 32`